@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/*How It Work Tab*/
.buttonTab {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5%;
  color: #475883;
}

.buttonTabCitys {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.displayCenterTabs {
  width: 100%;
}

.containerText {
  width: 792px;
  height: 360px;
  border-radius: 12px;
  padding: 40px;
  background-color: #fafafa;
}

.containerTabsButton {
  width: 100%;
  height: 360px;
  gap: 24px;
}

.containerTextAndImagesDisplay {
  display: flex;
  gap: 16px;
}

.containerTextOrderLaptop {
  width: 792px;
  height: 359px;
  border-radius: 12px;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 72px;
  background-color: #fafafa;
}

/* .containerTabsButtonVolunters {
  width: 384px;
  height: auto;
  gap: 24px;
}

.containerTabsButtonCitys {
  width: 384px;
  height: auto;
  gap: 16px;
} */

.containerTextGetIt {
  width: 792px;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 70px;
  gap: 40px;
  border-radius: 12px;
  background-color: #fafafa;
}

.HeaderHowItWork {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 152%;
  letter-spacing: 2.5%;
  color: #475883;
}

.HeaderOrderLaptop {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 1%;
  color: #475883;
}

.headerHowGetIt {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 135%;
  letter-spacing: 2.5%;
}

.paragrafTypeLaptop {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2%;
  color: #272c36;
}

.paragrafOverviewLaptop {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 2%;
  color: #484d58;
}

.paragrafHowItWork,
.paragrafHowGetIt {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 2.5%;
  color: #484d58;
  height: 30px;
  text-align: left;
  /* margin: 15px 0px 15px 0px; */
}

.paragrafHowGetIt {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 135%;
  letter-spacing: 2.5%;
}

.juiceCenterParagraf {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 12px;
}

.ImagesText {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.laptopItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.OrderContainer {
  width: 792px;
  height: 400px;
  border-radius: 12px;
  padding: 0px;
  gap: 0px;
  background-color: #fafafa;
}

.TabButtonContentVolunters {
  background-color: #fafafa;
  width: 384px;
  height: 104px;
  border-radius: 12px;
  gap: 32px;
  padding-top: 32px;
  padding-right: 48px;
  padding-bottom: 32px;
  padding-left: 48px;
}

.TabButtonContentCitys {
  background-color: #fafafa;
  width: 384px;
  height: 104px;
  border-radius: 12px;
  gap: 32px;
  padding-top: 32px;
  padding-right: 48px;
  padding-bottom: 32px;
  padding-left: 48px;
  display: flex;
  flex-direction: row;
}

.TabDisplay {
  display: flex;
  justify-content: center;
  padding: 34px 120px 34px 120px;
  gap: 35px;
}

.TabDisplayOrderLaptop {
  display: flex;
  justify-content: center;

  gap: 35px;
  margin: 0px 0px 40px 0px;
}

/* 



.TabDisplayGetIt {
  display: flex;
  justify-content: center;
  padding: 34px 120px 34px 120px;
  gap: 35px;
}

.TabDisplayOrderIt {
  display: flex;
  justify-content: center;
  padding: 34px 120px 34px 120px;
  gap: 30px;
} */

.SignUp {
  width: 195px;
  height: 48;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #0958d9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 3.5%;
  color: #fff;
  margin: 20px 0px 0px 0px;
}

.SignUp:hover {
  background-color: #3e7ce1;
  color: #fff;
}

.SignUp:active {
  background-color: #0b49b0;
  color: #fff;
}

.userIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

@media (max-width: 1040px) {
  .buttonTabCitys {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .displayCenterTabs {
    width: 100%;
  }

  .display-mobile-butoon {
    display: flex;
    justify-content: center;
  }

  .containerTextAndImagesDisplay {
    flex-direction: column;
    place-items: center;
    padding: 0px;
  }

  .containerTextGetIt {
    width: auto;
    height: 368px;
    padding-top: 36px;
    padding-bottom: 40px;
    padding-left: 0px;
    gap: 20px;
    border-radius: 12px;
    background-color: #fafafa;
    margin-top: 0px;
  }

  .containerText {
    width: auto;
    height: 542px;
    border-radius: 12px;
  }

  .containerTextOrderLaptop {
    width: auto;
    height: auto;
    border-radius: 12px;
    padding: 30px;
    background-color: #fafafa;
    margin: 40px 0px 40px 0px;
  }

  .containerTabsButton {
    width: 100%;
    height: 360px;
    gap: 24px;
  }

  .containerTabsButtonOrderIt {
    /* height: 500px; */
    gap: 20px;
  }

  .containerTextOrderIt {
    margin-top: 0px;
    background-color: #fafafa;
  }

  .juiceCenterParagraf {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .OrderContainer {
    /* height: 424px; */
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .laptopItem {
    display: flex;
    justify-content: center;
  }

  .HeaderHowItWork {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 2.5%;
    text-align: center;
    color: #475883;
  }

  .HeaderOrderLaptop {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1%;
    text-align: center;
  }

  .paragrafHowItWork {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 2.5%;
    text-align: center;
    color: #484d58;
    height: 60px;
  }

  .paragrafOverviewLaptop {
    text-align: center;
  }

  .TabButtonContentVolunters,
  .TabButtonContentCitys {
    width: 100%;
  }

  .TabDisplay {
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }

  .TabDisplayOrderLaptop {
    flex-direction: column;
    padding: 0px;
    width: 100%;
    margin: 40px 0px 40px 0px;
  }

  .TabDisplayGetIt {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 30px;
    padding: 0px;
    margin: 40px 0px 40px 0px;
  }

  .TabCenter {
    display: flex;
    justify-content: center;
    gap: 10px; /* Додаємо відступи між текстовими елементами */
  }

  .TabContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .SignUpDisplay {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }

  .SignUp {
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 1440px) {
  .buttonTabCitys {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .displayCenterTabs {
    width: 100%;
  }

  .display-mobile-butoon {
    display: flex;
    justify-content: center;
  }

  .containerTextAndImagesDisplay {
    flex-direction: column;
    place-items: center;
    padding: 0px;
  }

  .containerTextGetIt {
    width: auto;
    height: 368px;
    padding-top: 36px;
    padding-bottom: 40px;
    padding-left: 0px;
    gap: 20px;
    border-radius: 12px;
    background-color: #fafafa;
    margin-top: 0px;
  }

  .containerText {
    width: auto;
    height: 542px;
    border-radius: 12px;
  }

  .containerTextOrderLaptop {
    width: auto;
    height: auto;
    border-radius: 12px;
    padding: 30px;
    background-color: #fafafa;
    margin: 40px 0px 40px 0px;
  }

  .containerTabsButton {
    width: 100%;
    height: 360px;
    gap: 24px;
  }

  .containerTabsButtonOrderIt {
    /* height: 500px; */
    gap: 20px;
  }

  .containerTextOrderIt {
    margin-top: 0px;
    background-color: #fafafa;
  }

  .juiceCenterParagraf {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .OrderContainer {
    /* height: 424px; */
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .laptopItem {
    display: flex;
    justify-content: center;
  }

  .HeaderHowItWork {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 2.5%;
    text-align: center;
    color: #475883;
  }

  .HeaderOrderLaptop {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1%;
    text-align: center;
  }

  .paragrafHowItWork {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 2.5%;
    text-align: center;
    color: #484d58;
    height: 60px;
  }

  .paragrafOverviewLaptop {
    text-align: center;
  }

  .TabButtonContentVolunters,
  .TabButtonContentCitys {
    width: 100%;
  }

  .TabDisplay {
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }

  .TabDisplayOrderLaptop {
    flex-direction: column;
    padding: 0px;
    width: 100%;
    margin: 40px 0px 40px 0px;
  }

  .TabDisplayGetIt {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 30px;
    padding: 0px;
    margin: 40px 0px 40px 0px;
  }

  .TabCenter {
    display: flex;
    justify-content: center;
    gap: 10px; /* Додаємо відступи між текстовими елементами */
  }

  .TabContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .SignUpDisplay {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }

  .SignUp {
    margin: 0px;
    padding: 0px;
  }
}
